* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgb(5, 22, 53);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgb(150, 48, 0);
    --heading: rgb(255, 159, 49);
    --main-color-darken: rgba(116, 37, 1, 0.648);
    --btn-main-color: rgb(13, 107, 180);
    --btn-secondary-color: rgba(127, 199, 255, 0.853);
    --btn-txt: rgb(255, 255, 255);
    --header-bg: rgba(0, 0, 0, 0.8);
    --footer-bg: rgba(50, 57, 70, 0.9);
    --header-tx: #fff;
    --skills-bg: transparent;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem, 0rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.header img:hover {
    filter: drop-shadow(0 0 10px var(--main-color));
}

.header.sticky {
    border-bottom: .1rem solid var(--header-bg);
}

.navhead {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin: 0 1.5rem; 
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-shadow: 0 0 5px var(--main-color-darken);
}

.navhead .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    box-shadow: none;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.navhead .btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
    color: var(--header-tx);
}

#menu-icon {
    font-size: 3.6 rem;
    margin-left: 2.5rem;
    color: var(--header-tx);
    display: none;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2.5% ;
    position: relative;
}

.home-content {
    position: relative;
    z-index: 2;
    max-width: 50%;
    margin-left: 5%;
    
}

.home-img img {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: auto;
    margin-left: -16%;
}

.home-content h2 {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.home-content h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

span {
    color: var(--main-color);
    font-style: normal;
}

.home-content h1 {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: var(--main-color);
    line-height: 1;
    margin-bottom: 1.5rem;
}

.home-content .masking-container h1 {
    font-family: "Tourney", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
}

.masked-text {
    font-size: 12rem;
    font-weight: bold;
    color: transparent;
    background-image: url(assets/font-design.jpg); 
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--btn-main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
    transform: scale(1.05);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0rem 2.5% ;
}

.about-img img {
    height: 100vh;
    width: auto;
    margin-left: -24%;
    z-index: 1; 
}

.heading {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.about-content {
    width: 100vw;
    margin-left: 85vh;
    z-index: 2;
    position: absolute;
    max-width: 50%;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    margin-bottom: 4.5rem;
    color: var(--heading);
}

.about-content h3 {
    font-size: 2.6rem;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.gallery-img {
    height: 100vh;
    width: 2000px;
    margin-left: -3%;
    margin-right: -3%;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(65%);
    object-fit: cover;
    z-index: 1; 
}

.gallery-content {
    z-index: 2;
    position: absolute;
    padding: 10rem 4%;
}

.gallery-content .heading {
    margin-top: 1px;
    color: var(--heading);
}

.gallery-content .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4rem 2rem;
}

.img-box {
    position: relative;
    display: flex;             
    flex-direction: column;    
    align-items: center;       
}

.txt-box {
    position: absolute;
    justify-self: flex-end;
    bottom: 0;           
    width: 90%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, .01), var(--main-color));
    opacity: 80%;
    border-radius: 8px;
    transition: opacity 0.15s ease-in-out;
    align-content: center;
    text-align: center;
    transition: .5s ease;
}

.txt-box p {
    margin: 0;
    color: #fff; 
    font-size: 1.6rem;         
    font-weight: bold;
    position: relative;
    bottom: -3rem;          
}

.img-box:hover {
    transform: scale(120%);
    transition: .5s ease;
}

.img-box:hover .txt-box {
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0%;
}

.img-box img {
    width: 90%;         
    height: auto;
    border-radius: 8px;
}

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2.5% ;
    position: relative;
}

.contact-img {
    height: 100vh;
    width: 2000px;
    margin-left: -3%;
    margin-right: -3%;
    overflow: hidden;
}

.contact-img img {
    width: 100%;
    height: 100%;
    filter: blur(3px) brightness(65%);
    object-fit: cover;
    z-index: 1; 
}

.contact-content {
    z-index: 2;
    position: absolute;
}

.contact-content .heading {
    margin-top: 1rem;
    color: var(--heading);
}

.contact-content form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact-content form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70rem;
    height: auto;
}

.contact-content form .input-box input,
.contact-content form textarea {
    width: 100%;
    object-fit: cover;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    background: rgb(125, 136, 156);
    border-radius: .8rem;
    margin: .7rem 0;
}

.input-box input::placeholder,
.contact-content form textarea::placeholder {
  color: rgba(255, 255, 255, 0.55);
  opacity: 1;
}

.contact-content form .input-box input {
    width: 100%;
}

.contact-content form textarea {
    resize: none;
}

.contact-content form .btn {
    margin-top: 2rem;
    cursor: pointer;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.2rem 4%;
    background: var(--footer-bg);
    z-index: 100;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer img {
    height: 3.5rem;
    width: auto;
    transition: .5s ease;
    margin-left: 0; 
    transition: filter 0.3s ease-in-out;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}

.footer-txt p {
    margin-left: 4rem;
    font-size: 1.6rem;
}

.footer-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--btn-main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-btn a:hover {
    box-shadow: 0 0 1rem var(--btn-secondary-color);
}

.footer-btn a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .header {
        padding: 1.5rem 2%;
    }

    section {
        padding: 10rem 2% 2rem;
    }

    .about-content {
        width: 95%;

    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        max-height: 50vh;
    }
    
    .footer {
        padding: 1.5rem 2%;
    }
}