* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgba(31, 36, 45);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgba(255, 128, 0);
    --main-color-darken: rgba(255, 128, 0, 0.5);
    --btn-txt: rgba(50, 57, 70);
    --header-bg: rgba(0, 0, 0, 0.4);
    --header-tx: #fff;
    --skills-bg: transparent;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 4% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navhead {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin-left: 3rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 4% ;
}

.home-img img {
    margin: 0;
    height: 100vh;
    width: auto;
    animation: floatImage 4s ease-in-out infinite;
}


.home-content h2 {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}

.home-content h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.home-content h3:nth-of-type(1) {
    margin-bottom: 2rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 4rem;
}

span {
    color: var(--main-color);
    font-style: normal;
}

.home-content h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}


.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img img {
    width: 35vw;
    animation: dropPulse 2s infinite;   
}

.heading {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
}

.about-content {
    width: 100vw;
    margin-left: 3rem;
}

.about-content h2 {
    font-family: "Gugi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 1.2;
}

.about-content h2 .multiple-text2 {
    font-family: "Gugi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.about-content h3 {
    font-size: 2.6rem;
}


.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    
}

.img-box {
    display: flex;             
    flex-direction: column;    
    align-items: center;       
}

.img-box img {
    width: 90%;         
    height: auto;
}





.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    z-index: 100;
}

.footer-txt p {
    font-size: 1.6rem;
}

.footer-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-btn a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-btn a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .header {
        padding: 1.5rem 2%;
    }

    section {
        padding: 10rem 2% 2rem;
    }

    .about-content {
        width: 95%;

    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        max-height: 50vh;
    }
    
    .footer {
        padding: 1.5rem 2%;
    }
}