* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgba(31, 36, 45);
    --second-bg-color: rgba(50, 57, 70);
    --text-color: #fff;
    --main-color: rgba(255, 128, 0);
    --main-color-darken: rgba(255, 128, 0, 0.5);
    --btn-txt: rgba(50, 57, 70);
    --header-bg: rgba(0, 0, 0, 0.4);
    --header-tx: #fff;
    --skills-bg: transparent;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 4% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2.5rem 4%;
    background: var(--header-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navhead {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--header-tx);
    margin-left: 3rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 2.5% ;
    position: relative;
}

.home-content {
    z-index: 2;
    position: absolute;
    max-width: 50%;
    left: 5%;
}

.home-img img {
    margin-left: 37vh;
    height: 100vh;
    width: auto;
    z-index: 1;
}


.home-content h2 {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}

.home-content h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
}

.home-content h3:nth-of-type(1) {
    margin-bottom: 2rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 4rem;
}

span {
    color: var(--main-color);
    font-style: normal;
}

.home-content h1 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--btn-txt);
    letter-spacing: .1rem;
    font-weight: 900;
    font-style: bold;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
    transform: scale(1.05);
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0rem 2.5% ;
}

.about-img img {
    height: 100vh;
    width: auto;
    margin-left: -24%;
    z-index: 1; 
}

.heading {
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
}

.about-content {
    width: 100vw;
    margin-left: 85vh;
    z-index: 2;
    position: absolute;
    max-width: 50%;
}

.about-content h2 {
    font-family: "Gugi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 1.2;
}

.about-content h2 .multiple-text2 {
    font-family: "Gugi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.about-content h3 {
    font-size: 2.6rem;
}


.gallery .img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4rem 2rem;
    
}

.img-box {
    position: relative;
    display: flex;             
    flex-direction: column;    
    align-items: center;       
}

.txt-box {
    position: absolute;
    justify-self: flex-end;
    bottom: 0;           
    width: 90%;
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, .01), var(--main-color));
    opacity: 80%;
    border-radius: 8px;
    transition: opacity 0.15s ease-in-out;
    align-content: center;
    text-align: center;
    transition: .5s ease;
}

.txt-box p {
    margin: 0;
    color: #fff;          
    font-weight: bold;
    position: relative;
    bottom: -3rem;          
}

.img-box:hover {
    transform: scale(120%);
    transition: .5s ease;
}

.img-box:hover .txt-box {
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0%;
}

.img-box img {
    width: 90%;         
    height: auto;
    border-radius: 8px;
}

.contact {
    min-height: 100vh;
}

.contact .heading {
    margin-top: 1rem;
}

.contact h2 , .multiple-text3{
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}



.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    z-index: 100;
}

.footer-txt p {
    font-size: 1.6rem;
}

.footer-btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-btn a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-btn a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    html {
        overflow-x: hidden;
    }

    .header {
        padding: 1.5rem 2%;
    }

    section {
        padding: 10rem 2% 2rem;
    }

    .about-content {
        width: 95%;

    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        max-height: 50vh;
    }
    
    .footer {
        padding: 1.5rem 2%;
    }
}